@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";

/* Mosque Marker Filter (Emerald-600 approx) */
.mosque-marker-filter {
  filter: hue-rotate(130deg) brightness(0.9);
}

@theme {
  --color-primary: #10b981;
  /* Emerald 500 */
  --color-primary-hover: #059669;
  /* Emerald 600 */
  --color-secondary: #3b82f6;
  /* Blue 500 */
  --font-sans: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
}